.songArea {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  overflow-x: hidden;
  width: 99%;
  /* background-color: brown; */
}

.topHeadContent {
  display: flex;
  gap: 84%;
}
.songVariant {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  margin: 5px 0px 20px 10px;
}
.showAll {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: right;
  color: var(--color-primary);
}
.CardContent {
  /* background-color: black; */
  display: flex;
  align-items: center;
}
.sliderContent {
  display: flex;
  overflow-x: hidden;
  width: 99%;
  overflow-y: hidden;
  /* background-color: aqua; */
}

.buttonSliderLeft {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 25px;
  position: relative;
  left: 10px;
}
.buttonSliderRight {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 25px;
  position: relative;
  right: 10px;
}
